<div>
  products work!
  <hr>
  <app-input></app-input>
  <app-button></app-button>
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
  <hr>
  end of products component
</div>
